@media (max-width: 375px) {
    body {
        background: hsl(257, 40%, 49%) url('../images/bg-mobile.svg') no-repeat;
        width: 100vw;
    }

    .main .container {
        display: flex;
        flex-direction: column;
    }

    .container .informacoes {
        padding: 0;
        text-align: center;
        margin-top: 50px;
    }

    .container .informacoes .title {
        font-size: 1.5rem;
        line-height: 35px;
    }

    .container .informacoes .btn-register a {
        padding: 10px 70px;
        font-size: 0.8rem;
        box-shadow: none;
    }

    .footer .social {
        display: flex;
        justify-content: center;
        padding: 40px;
    }

    .footer .social a i {
        padding: 7px;
        font-size: 1rem;
    }
}