body {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    background: hsl(257, 40%, 49%) url('../images/bg-desktop.svg') center center no-repeat;
    height: 100%;
    font-weight: 400;
}

.header .logo{
    padding: 40px;
    
}

.header .logo a img {
    max-width: 200px;
}

.main .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}

.main .container img{
    width: 100%;
}

.container .informacoes {
    padding: 0 50px;
    color: #fff;
}

.container .informacoes .title {
    font-weight: 600;
    text-transform: capitalize;
    font-size: 2rem;
    line-height: 50px;
    margin-bottom: 20px;
}

.container .informacoes p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 35px;
}

.container .informacoes .btn-register a{
    font-family: 'Popins', sans-serif;
    padding: 15px 60px;
    border-radius: 50px;
    background-color: #fff;
    font-size: 1.2rem;
    color: hsl(257, 40%, 49%);
    transition: 0.3s;
    box-shadow: 3px 5px 40px #353535;
}

.container .informacoes .btn-register a:hover {
    background-color: hsl(300, 69%, 71%);
    color: #fff;
}

.footer .social ul {
    display: flex;
    justify-content: flex-end;
    padding: 25px 40px;
    font-size: 1.5rem;
}

.footer .social ul li a i {
    width: 50px;
    height: 50px;
    text-align: center;
    margin-right: 20px;
    padding: 15px;
    color: #fff;
    font-size: 1.3rem;
    border: 1px solid #fff;
    border-radius: 100%;
    transition: 0.3s;
}

.footer .social a i:hover {
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
}